CMakeLists.txt
build
cmake*
*.o
PROVA
.DS_Store
.idea
3\)\ Derivatives\ computation/build
3\)\ Derivatives\ computation/lib
3\)\ Derivatives\ computation/data.txt
4\)\ Linear\ scalar\ hyperbolic\ equation/BKP
4\)\ Linear\ scalar\ hyperbolic\ equation/lib/*
4\)\ Linear\ scalar\ hyperbolic\ equation/build/*
